@import '../mixin';
@import '../var';

.history {
 &__container {
  @include container;
  padding: 50px;
  border-radius: 56px;
  background-color: #f3f4f6;
 }

 &__title {
  @include titleSection;
 }
}
