@import "../mixin";
@import "../var";

.tabulator{
  border:transparent;
  background-color: transparent;
}

.tabulator .tabulator-header{
  padding: 20px 50px;
  background-color: #116ACC;
  border-radius: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  overflow: hidden;
}

.tabulator .tabulator-header .tabulator-col{
  background-color: transparent;
  
}