$brand-primary: #116acc;
$brand-secondary_black: #182233;
$brand-secondary_blue: #b3cee2;
$brand-secondary_gray: #d9dde7;
$brand-secondary_red: #fd4e5d;

$brand-primary_shade: #7033ac;
$brand-pink_ligth: #f8efff;
$color-violet: #ebd1ff;
$color-secondary: #ff862f;
$color-secondary_ligth: #ffbd59;
$color-secondary_shade: #bb370e;
$color-red_input: #ff6972;
$color-green_input: #b8ec64;
$color-gold: #d5b986;
$color-white: #fff;
$color-grey_ligth: #f7f7f7;
$color-md_grey: #eaeaea;
$color-grey: #999;
$color-grey_shade: #666;
$color-black: #333;
$color-lime_color: #daffd1;
$color-bone: #fff5d1;

$media-xl: 1279px;
$media-lg: 992px;
$media-sm: 576px;
