@import '../mixin';
@import '../var';


.account {
  &__container {
    @include container;
    padding: 50px;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 606px 684px;
    gap: 50px;
  }

  &__group {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: grid;
    row-gap: 30px;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__title {
    grid-row: 1;
    grid-column: 1;
    @include title;
  }

  &__number{
    grid-row: 2;
    grid-column: 1;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    color: #000;
  }

  &__btn {
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    @include btn;
    background-color: $brand-primary;
    color: #fff;
  }



  &__residue {
    grid-row: 2;
    grid-column: 2;
    justify-self: flex-end;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #000;
  }

  &__label {
    font-weight: 700;
    margin-right: 50px;
  }

  &__form {
    grid-row: 2;
    grid-column: 1;
  }

  &__chart  {
    grid-row: 2;
    grid-column: 2;
    cursor: pointer;
  }


  &__history{
    grid-row: 3;
    grid-column: 1 / span 2;
    padding: 50px;
  }

}

