@import "../mixin";
@import "../var";

.account {
  width: 400px;
  border-radius: 9px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  padding: 22px;
  display: grid;
  grid-row: repeat(3, "maxcontent");
  grid-column: 1fr 1fr;
  row-gap: 9px;

  &__number {
    grid-column: 1;
    grid-row: 1;
  }

  &__balance {
  }

  &__label {
  }

  &__transaction {
  }

  &__btn {
    @include title;
  }
}
